html {
  font-family: 'Lora', serif;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  height: 100%;
}

h1 {
  letter-spacing: 1px;
  display: inline;
  color: black;
  background-color: white;
  padding: 10px 15px;
}

.home-page {
  height: 100%;
  min-height: 100%;
  background-color: gray;
  background-image: url(https://drive.google.com/uc?export=download&id=0B3s_XPEhp2okRUVScFlpTlJLSnM);
  background-repeat: no-repeat;
  background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size:cover;
	-o-background-size:cover; 
	background-size: cover;
}

header {
  position: relative;
  top: 20%;
  left: 10%;
}
